<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addProjectForm" (ngSubmit)="addProject()">
    <ion-item>
      <ion-input type="text" id="projectname" formControlName="projectname" placeholder="Projectname" clearInput></ion-input>
    </ion-item>
    <div class="errorMessage" [@enterAnimation] *ngIf="addProjectForm.controls.projectname.hasError('required') && (addProjectForm.get('projectname').dirty || addProjectForm.get('projectname').touched)">Titel darf nicht leer sein!</div>
    <ion-item>
      <ion-textarea autosize id="description" formControlName="description" placeholder="Description" clearInput></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Max. member amount</ion-label>
      <ion-select interface="popover" formControlName="maxMemberAmount">
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
        <ion-option value="9">9</ion-option>
        <ion-option value="10">10</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Project start date</ion-label>
      <ion-datetime formControlName="startDate" [(ngModel)]="currentStartDate" [min]="minStartDate" max="2030-12-31" (ngModelChange)="startDateChanged($event)" displayFormat="DD.MM.YYYY"
        pickerFormat="YYYY MM DD"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Estimated end date</ion-label>
      <ion-datetime formControlName="endDate" [(ngModel)]="currentEndDate" [min]="minEndDate" max="2030-12-31" (ngModelChange)="endDateChanged($event)" displayFormat="DD.MM.YYYY"
        pickerFormat="YYYY MM DD"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Payment</ion-label>
      <ion-toggle #payment formControlName="payment"></ion-toggle>
    </ion-item>
    <ion-item [@enterAnimation] *ngIf="payment.checked">
      <ion-input type="number" id="paymentAmount" formControlName="paymentAmount" placeholder="Payment amount" clearInput></ion-input>
    </ion-item>
    <div class="errorMessage" [@enterAnimation] *ngIf="addProjectForm.controls.paymentAmount.hasError('min') && (addProjectForm.get('paymentAmount').dirty || addProjectForm.get('paymentAmount').touched)">Bezahlung muss höher als 0 sein!</div>
    <ion-item>
      <ion-label>Global</ion-label>
      <ion-toggle #global (ionChange)="toggled($event)" checked="true" formControlName="global"></ion-toggle>
    </ion-item>
    <ion-grid [hidden]="global.checked">
      <ion-row>
        <ion-col style="padding-right: 5px;">
          <button (click)="selectLocation()" type="button" class="addTagsButton" ion-button block outline icon-right>Select location
            <ion-icon name="pin"></ion-icon>
          </button>
        </ion-col>
        <ion-col style="padding-left: 5px;">
          <button (click)="locateMe()" type="button" class="addTagsButton" ion-button block outline icon-right>Locate me
            <ion-icon name="locate"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div #map [hidden]="global.checked" id="map"></div>

    <button (click)="addTags()" class="addTagsButton" type="button" ion-button block outline icon-right>Add tags
      <ion-icon name="add"></ion-icon>
    </button>

    <ion-badge [@tagAnimation] (click)="removeTag(tag)" class="tag" *ngFor="let tag of tags">{{tag.title}} X</ion-badge>
    <ion-badge *ngIf="!tags || tags.length < 1" [@tagAnimation] class="tag" color="danger">Mind. 1 Tag</ion-badge>

    <button class="submitButton" ion-button type="submit" full margin-top [disabled]="!addProjectForm.valid || !tags || tags.length == 0 || (payment.checked && !addProjectForm.controls.paymentAmount.value)">Add Project</button>
  </form>

</ion-content>
