<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" debounce="500" (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-buttons padding-left right>
      <button ion-button icon-only (click)="openFilter($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="padding: 10px !important" class="mainContent">
  <div style="margin:10px" *ngIf="searchSettings?.tags?.length > 0 || searchSettings?.location || searchSettings?.paid">
    <ion-badge class="tag" *ngIf="searchSettings?.location">10 km Radius um {{searchSettings?.location.name}} X</ion-badge>
    <ion-badge class="tag" *ngIf="searchSettings?.paid">Nur bezahlte X</ion-badge>
    <ion-badge [@tagAnimation] class="tag" *ngFor="let tag of searchSettings?.tags" (click)="removeTag(tag)">{{tag.title}} X
    </ion-badge>
  </div>

  <div class="placeholder" *ngIf="projects?.length == 0">
    Hier gibt es noch nichts zu sehen...
  </div>

  <project-card *ngFor="let project of projects" (click)="openProject(project)" [project]="project">
  </project-card>

  <ion-infinite-scroll *ngIf="infinity" (ionInfinite)="paginateSearch($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
