// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tag {
  margin-right: 5px;
  margin-top: 5px;
}

.header_avatar {
  width: 50px;
  border-radius: 25px;
}

.header_content {
  position: absolute;
  bottom: 0;
  padding: 16px;
}

.drawer_header {
  //background-color: color($colors, primary);
  background-image: url('../assets/imgs/header_background.jpg');
  background-size: cover;
  height: 150px;
  position: relative;
}

.header_username {
  color: white;
  font-size: 18px;
  margin: 0;
}

.header_email {
  color: white;
  font-size: 14px;
  margin: 0;
}

.item .icon {
  color: rgba(0, 0, 0, 0.80) !important;
}

.button .icon {
  color: white !important
}
